<p> Create a Team and Heroes </p>
<form action="/teams" method="POST">
    <p>Team Name: <input type="text" name="name"></p>
    <p>Motto: <input type="text" name="motto"></p>
    <p>Hero 1</p>
    <p>Hero Name: <input type="text" name="hero1[name]"></p>
    <p>Hero Power: <input type="text" name="hero1[power]"></p>
    <p>Hero Biography: <input type="text" name="hero1[bio]"></p>
    <p>Hero 2</p>
    <p>Hero Name: <input type="text" name="hero2[name]"></p>
    <p>Hero Power: <input type="text" name="hero2[power]"></p>
    <p>Hero Biography: <input type="text" name="hero2[bio]"></p>
    <p>Hero 3</p>
    <p>Hero Name: <input type="text" name="hero3[name]"></p>
    <p>Hero Power: <input type="text" name="hero3[power]"></p>
    <p>Hero Biography: <input type="text" name="hero3[bio]"></p>
    <input type="submit">
</form>

